.project {
  margin-top: 5px;
  border-top: 1px solid gray;
}

.project-box {
  margin-top: 10px;
  border: 2px solid gray;
  border-radius: 5px;
  background-color: white;
  width: 180px;
  height: 150px;
  display: flex;
}

.project-image {
  width: 180px;
  height: 150px;
}

.project-name {
  display: flex;
  justify-content: center;
}

#paging-place {
  display: flex;
  justify-content: center;
  width: 100%;
}
