#detail-head {
  display: flex;
  align-items: center;
  border-bottom: 1px solid gray;
}

#detail-title {
  font-size: 30px;
  width: 80%;
}

#detail-createAt {
  width: 20%;
  display: flex;
  justify-content: right;
}

#detail-createAt-text {
  color: gray;
  font-size: 15px;
}

#detail {
  border: 1px solid black;
  border-radius: 4px;
  padding: 4px;
  min-height: 500px;
  margin-bottom: 10px;
}
