* {
  margin: 0;
  padding: 0;
  line-height: normal;
}

html,
body,
#root,
#root > div {
  height: 100%;
  background-color: black;
}

#header {
  height: 64px;
  display: flex;
  justify-content: center;
}

#header-area {
  width: 1024px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#body {
  display: flex;
  justify-content: center;
}

#body-area {
  width: 1024px;
  display: flex;
  justify-content: space-between;
  background-color: #ffffa0;
}

#side-left {
  width: 200px;
  display: flex;
  background-color: aqua;
  justify-content: center;
}

#side-right {
  width: 200px;
  display: flex;
  background-color: aqua;
  justify-content: center;
}

#last-content {
  padding-top: 10px;
}

#center {
  width: 600px;
}
